.footer {
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.content{
    display: flex; 
    flex-wrap: wrap;
     align-items: center;
    justify-content: center; 
    font-weight: 400;
    font-size: 26px;
    
}
.para{
    text-align: center;
    max-width: 470px;
    margin: 0px auto 58px;
    font-size: 16px;
}

.divide{
    display: flex;
    justify-content: space-between;
    /* margin-left: 120px; */
}

.circle{
    height: 120px;
    width: 120px;
    border: 7px solid #499557;
    border-radius: 50%; 
    margin-left: 50px;
}
.per{
    color: #499557;
    margin-bottom: 0px;
  
}
.new{
    color: #499557;
    font-weight: bold;
   
}

.last{
    display: flex;
    justify-content: space-between;
    /* margin-left: 40px; */
}
