/* .footer {
    height: 100vh;
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.word{
     align-items: center;
    justify-content: center; 
    font-weight: 400;
    font-size: 26px;
    
}
.para{
    text-align: center;
    max-width: 470px;
    margin: 0px auto 58px;
    font-size: 16px;
} */
@media(max-height:768px) {
    .footer {
        height: 100vh;
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .word{
         align-items: center;
        justify-content: center; 
        font-weight: 400;
        font-size: 26px;
        /* flex-wrap:wrap; */
    }
    .para{
        text-align: center;
        max-width: 470px;
        margin: 0px auto 58px;
        font-size: 16px;
    } 
}
